<h1>Command List</h1>
<li><button>title</button> command => <span>response</span></li>
<li><button>title</button> command => <span>response</span></li>
<li><button>title</button> command => <span>response</span></li>
<li><button>title</button> command => <span>response</span></li>
<%=form_tag "/client/create_command" do %>
  <input type="text" name="title" placeholder="제목">
  <input type="text" name="command" placeholder="명령어">
  <input type="submit">
<% end %>

