<h1>Command List</h1>
<ol>
  <% @commands.each do |c| %>
    <li><button class="command_btn"><%=c.title%></button> <span class="command"><%=c.command%></span></li>
  <% end %>
</ol>
<%=form_tag "/client/create_command" do %>
  <input type="text" name="title" placeholder="제목">
  <input type="text" name="command" placeholder="명령어">
  <input type="submit">
<% end %>
<h1>Logs</h1>
<ul id="logs">
</ul>

<script>
var dispatcher = new WebSocketRails('localhost:3000/websocket');
$(".command_btn").on("click", function() {
  var command = $(this).parent().find(".command").text();
  dispatcher.trigger('echo', command);
  });
dispatcher.bind('echo', function(msg) {
    console.log(msg);
    $("#logs").prepend('<li>'+msg+" ["+Date().toLocaleString() + ']</li>');
});
</script>
